<!doctype html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title><%=langText.projectName%> - <%=langText.edit_exercise%></title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="icon" type="image/ico" href="images/logo.ico"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/fontawesome.css"/>
        <link rel="stylesheet" href="/css/toast.min.css"/>

        <style>
            body {
                background-color: #f0f0f0;
            }
        </style>

    </head>

    <body>
        <nav class="navbar navbar-expand navbar-light pt-5 pb-5 px-xl-3">
            <div class="container d-flex justify-content-between">
                <a href="/"><img class="mr-2" src="/images/logo_colored.svg" width="40" height="40"></a>
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <div class="d-flex mr-3 mt-1" style="width: auto; height: 30px;">
                            <p class="text-left ml-2"><%=langText.hello%>,</p>
                            <p class="ml-1 text-left cabrion-bold"><%=name%></p>
                        </div>
                    </li>
                    <li class="nav-item mr-3">
                        <a href="/user" role="button"><i class="far fa-user fa-lg"></i></a>
                    </li>
                    <li class="nav-item mr-3">
                        <a href="/admin" role="button"><i class="far fa-crown fa-lg"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/logout" role="button"><i class="far fa-sign-out-alt fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </nav>

        <section class="container pt-5 shadow-2">
            <div class="pl-5 pr-5">
                <div class="row">
                    <div class="panel-container w-100">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-left cabrion-bold"><%=langText.edit_exercise%></h3>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <p class="text-left"><%=langText.edit_exercise_desc%></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container pt-5 shadow-2">
            <div class="pl-5 pr-5">
                <div class="row">
                    <div class="panel-container w-100">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-left cabrion-bold"><%=langText.exercise_data%></h3>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md">
                                <form class="form">
                                    <div class="input-group mb-2 mr-sm-2 mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-id-card"></i></div>
                                        </div>
                                        <input id="editID" type="text" class="form-control custom-input" placeholder="ID" value="<%=exercise.id%>" readonly>
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2 mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-signature"></i></div>
                                        </div>
                                        <input id="name" type="text" class="form-control custom-input" placeholder="Name" value="<%=exercise.name%>">
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2  mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-bolt"></i></div>
                                        </div>
                                        <input id="difficulty" type="text" class="form-control custom-input" placeholder="Difficulty" value="<%=exercise.difficulty%>">
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2  mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-fire"></i></div>
                                        </div>
                                        <input id="kcal" type="text" class="form-control custom-input" placeholder="kcal" value="<%=exercise.kcal%>">
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2  mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-stopwatch"></i></div>
                                        </div>
                                        <input id="timeRequired" type="text" class="form-control custom-input" placeholder="Time Required (minutes)" value="<%=exercise.timeRequired%>">
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2  mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-image"></i></div>
                                        </div>
                                        <input id="image" type="text" class="form-control custom-input" placeholder="Image" value="<%=exercise.image%>">
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2  mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fas fa-code"></i></div>
                                        </div>
                                        <input id="script" type="text" class="form-control custom-input" placeholder="Script" value="<%=exercise.script%>">
                                    </div>
    
                                    <div class="buttons-container">
                                        <button id="editExerciseSubmit" class="custom-btn btn-purple mt-3 btn1" role="button" type="submit"><i class="fas fa-save"></i> <%=langText.edit_exercise%></button> 
                                    </div>
                                </form>
                            </div>
                            <div class="col-md justify-content-center align-self-center text-center">
                                <img class="square-container" src='<%-exercise.image%>' width="200" height="200">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container pt-5">
            <p class="text-center"><%=langText.copyright%></p>
        </section>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" class="custom-btn btn-purple" title="<%=langText.gotop%>"><i class="fas fa-angle-up"></i></button>
        <script src="/js/scroll.js"></script>

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="/js/toast.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#editExerciseSubmit').click(function(event) {
                    event.preventDefault();

                    $.ajax({
                        url: '/admin/exercise/edit',
                        type: 'POST',
                        cache: false,
                        data: { 
                            id: document.getElementById("editID").value,
                            name: document.getElementById("name").value,
                            _difficulty: document.getElementById("difficulty").value,
                            _kcal: document.getElementById("kcal").value,
                            _timeRequired: document.getElementById("timeRequired").value,
                            image: document.getElementById("image").value,
                            script: document.getElementById("script").value
                        }, 
                        success: function(data) {
                            console.log(data.message);
                            if (data.redirect) window.location.href = data.redirect;
                            else {
                                $.toast({
                                    type: "success",
                                    title: "<%=langText.exercise_edited%>",
                                    delay: 5000,
                                });
                            }
                        },
                        error: function(jqXHR, textStatus, err) {
                            switch(jqXHR.status) {
                                case 401:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.exercise401%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 402:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.exercise402%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 403:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.exercise403%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 404:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.exercise404%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 405:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.exercise405%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 406:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.exercise406%>",
                                        delay: 5000,
                                    });
                                    break;
                                default:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.error%>",
                                        delay: 5000,
                                    });
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>