<!doctype html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title><%=langText.projectName%> - <%=langText.signup%></title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="icon" type="image/ico" href="images/logo.ico"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/fontawesome.css"/>
        <link rel="stylesheet" href="/css/toast.min.css"/>

        <style>
            html, body {
                background-image: linear-gradient(90deg, #766DF4, #6A9BF4);
                height: 100%;
            }
        </style>

    </head>

    <body>
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 form-container">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-md">
                            <div class="mb-5">
                                <h1 class="text-left cabrion-bold"><%=langText.signup%></h1>
                                <h4 class="text-left h5 font-color-2"><%=langText.signup_desc%></h4>
                            </div>

                            <form class="form">
                                <div class="input-group mb-2 mr-sm-2  mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-user"></i></div>
                                    </div>
                                    <input id="name" type="text" class="form-control custom-input" placeholder="<%=langText.yourname%>">
                                </div>
                                <div class="input-group mb-2 mr-sm-2 mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                                    </div>
                                    <input id="email" type="text" class="form-control custom-input" placeholder="<%=langText.email%>">
                                </div>
                                <div class="input-group mb-2 mr-sm-2 mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-lock"></i></div>
                                    </div>
                                    <input id="password" type="password" class="form-control custom-input" placeholder="<%=langText.password%>">
                                </div>
                                <div class="input-group mb-2 mr-sm-2 mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-unlock"></i></div>
                                    </div>
                                    <input id="confirmPassword" type="password" class="form-control custom-input" placeholder="<%=langText.cpassword%>">
                                </div>
                                <div class="custom-control custom-checkbox mt-4">
                                    <input id="checkToS" type="checkbox" class="custom-control-input" id="customCheck1" style="z-index: 50;">
                                    <label class="custom-control-label" for="customCheck1"><%=langText.iagree%> <a href="terms"><%=langText.terms%></a></label>
                                </div>
                                <div class="buttons-container">
                                    <button id="submit" class="custom-btn btn-purple mt-3 btn1" role="button" type="submit"><i class="far fa-sign-in-alt"></i> <%=langText.signup%></button> 
                                    <a href="login" class="btn custom-btn btn-silver btn2" role="button"><%=langText.haveacc%></a>
                                </div>
                            </form>
                        </div>
                        <div class="col-md text-center">
                            <img src="images/signup.png" style="width: 100%; height: auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="/js/toast.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#submit').click(function(event) {
                    event.preventDefault();

                    $.ajax({
                        url: '/user/signup',
                        type: 'POST',
                        cache: false,
                        data: { 
                            name: document.getElementById("name").value,
                            email: document.getElementById("email").value,
                            password: document.getElementById("password").value,
                            confirmPassword: document.getElementById("confirmPassword").value,
                            checkToS: document.getElementById("checkToS").checked
                        }, 
                        success: function(data){
                            if (data.redirect) window.location.href = data.redirect;
                        },
                        error: function(jqXHR, textStatus, err) {
                            switch(jqXHR.status) {
                                case 401:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user401%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 402:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user402%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 403:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user403%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 404:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user404%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 405:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user405%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 406:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user406%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 407:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user407%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 408:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user408%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 409:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user409%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 410:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user410%>",
                                        delay: 5000,
                                    });
                                    break;
                                default:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.error%>",
                                        delay: 5000,
                                    });
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>