<!doctype html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title><%=langText.projectName%> - <%=langText.settings%></title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
        <link rel="icon" type="image/ico" href="/images/logo.ico"/>
        <link rel="stylesheet" href="/css/style.css"/>
        <link rel="stylesheet" href="/css/fontawesome.css"/>
        <link rel="stylesheet" href="/css/toast.min.css"/>

        <style>
            body {
                background-color: #f0f0f0;
            }
        </style>

    </head>

    <body>
        <nav class="navbar navbar-expand navbar-light pt-5 pb-5 px-xl-3">
            <div class="container d-flex justify-content-between">
                <a href="/"><img class="mr-2" src="/images/logo_colored.svg" width="40" height="40"></a>
                <ul class="navbar-nav ml-auto align-items-center">
                    <li class="nav-item">
                        <div class="d-flex mr-3 mt-1" style="width: auto; height: 30px;">
                            <p class="text-left ml-2"><%=langText.hello%>,</p>
                            <p class="ml-1 text-left cabrion-bold"><%=name%></p>
                        </div>
                    </li>
                    <li class="nav-item mr-3">
                        <a href="/user" role="button"><i class="far fa-user fa-lg"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/logout" role="button"><i class="far fa-sign-out-alt fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </nav>


        <section class="container pt-5 shadow-2">
            <div class="pl-5 pr-5">
                <div class="row">
                    <div class="panel-container w-100">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-left cabrion-bold"><%=langText.settings%></h3>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <p class="text-left"><%=langText.settings_desc%></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container pt-5 shadow-2">
            <div class="pl-5 pr-5">
                <div class="row">
                    <div class="col-md panel-container w-100 m-2">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-left cabrion-bold"><%=langText.account_settings%></h3>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <form class="form" autocomplete="off">
                                    <div class="input-group mb-2 mr-sm-2 mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text samewidth"><i class="fas fa-envelope m-auto"></i></div>
                                        </div>
                                        <input id="email" type="text" class="form-control custom-input" placeholder="<%=langText.email%> (<%=email%>)" readonly>
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2 mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text samewidth"><i class="fas fa-lock m-auto"></i></div>
                                        </div>
                                        <input id="newPassword" type="password" class="form-control custom-input" placeholder="<%=langText.npassword%>">
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2 mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text samewidth"><i class="fas fa-unlock m-auto"></i></div>
                                        </div>
                                        <input id="confirmNewPassword" type="password" class="form-control custom-input" placeholder="<%=langText.cnpassword%>">
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2 mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text samewidth"><i class="fas fa-lock m-auto"></i></div>
                                        </div>
                                        <input id="oldPassword" type="password" class="form-control custom-input" placeholder="<%=langText.opassword%>">
                                    </div>
                                    <div class="text-center">
                                        <button id="submitPassword" class="custom-btn btn-purple btn1 mt-2" role="button" type="submit"><i class="fas fa-save"></i> <%=langText.save%></button> 
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md panel-container w-100 m-2">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-left cabrion-bold"><%=langText.profile_settings%></h3>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <form class="form" autocomplete="off">
                                    <div class="input-group mb-2 mr-sm-2 mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text samewidth"><i class="fas fa-user m-auto"></i></div>
                                        </div>
                                        <input id="name" type="text" class="form-control custom-input" placeholder="<%=langText.yourname%> (<%=name%>)">
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2 mt-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text samewidth"><i class="far fa-calendar-alt m-auto"></i></div>
                                        </div>
                                        <input id="weekGoal" type="text" class="form-control custom-input" placeholder="<%=langText.weekgoal%> (<%=weekGoal%>)">
                                    </div>
                                    <div class="text-center">
                                        <button id="submitProfile" class="custom-btn btn-purple btn1 mt-2" role="button" type="submit"><i class="fas fa-save"></i> <%=langText.save%></button> 
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container pt-5 shadow-2">
            <div class="pl-5 pr-5">
                <div class="row">
                    <div class="panel-container w-100">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="text-left cabrion-bold"><%=langText.language%></h3>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <p class="text-left"><%=langText.language_desc%></p>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <a id="lang_sr" href=""><span class="flag-icon flag-icon-rs fa-lg"></span></a>
                                <a id="lang_en" href=""><span class="flag-icon flag-icon-us fa-lg"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="container pt-5">
            <p class="text-center"><%=langText.copyright%></p>
        </section>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" class="custom-btn btn-purple" title="<%=langText.gotop%>"><i class="fas fa-angle-up"></i></button>
        <script src="/js/scroll.js"></script>

        <script type="text/javascript">
            function StartExercise(id) {
                document.getElementById(id).scrollIntoView(true);
            }
        </script>

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="/js/toast.min.js"></script>
        <script src="/js/lang.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#submitPassword').click(function(event) {
                    event.preventDefault();

                    $.ajax({
                        url: '/user/changepass',
                        type: 'POST',
                        cache: false,
                        data: { 
                            password: document.getElementById("newPassword").value,
                            cpassword: document.getElementById("confirmNewPassword").value,
                            oldpassword: document.getElementById("oldPassword").value
                        }, 
                        success: function(data) {
                            $.toast({
                                type: "success",
                                title: "<%=langText.successfully%>",
                                delay: 5000,
                            });
                            if (data.redirect) setTimeout(function() { window.location.href = data.redirect }, 1000);
                        },
                        error: function(jqXHR, textStatus, err) {
                            switch(jqXHR.status) {
                                case 405:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user405%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 406:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user406%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 407:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user407%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 408:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user408%>",
                                        delay: 5000,
                                    });
                                    break;
                                default:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.error%>",
                                        delay: 5000,
                                    });
                            }
                        }
                    });
                });

                $('#submitProfile').click(function(event) {
                    event.preventDefault();

                    $.ajax({
                        url: '/user/changeprofile',
                        type: 'POST',
                        cache: false,
                        data: { 
                            name: document.getElementById("name").value,
                            weekGoal: document.getElementById("weekGoal").value
                        }, 
                        success: function(data) {
                            $.toast({
                                type: "success",
                                title: "<%=langText.successfully%>",
                                delay: 5000,
                            });
                            if (data.redirect) setTimeout(function() { window.location.href = data.redirect }, 1000);
                        },
                        error: function(jqXHR, textStatus, err) {
                            switch(jqXHR.status) {
                                case 401:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user401%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 402:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user402%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 403:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user403%>",
                                        delay: 5000,
                                    });
                                    break;
                                case 411:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.user411%>",
                                        delay: 5000,
                                    });
                                    break;
                                default:
                                    $.toast({
                                        type: "error",
                                        title: "<%=langText.error%>",
                                        delay: 5000,
                                    });
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>